<script src="https://c64.assets-yammer.com/assets/yam-vendor-jquery-00d1dc3f114cfe3fc268012fbfad9649.js" type="text/javascript"></script>
<script src="https://c64.assets-yammer.com/assets/platform_embed.js" type="text/javascript"></script>

<div id="homepage-embedded-yammer" style="height: 500px;"></div>

<script type="text/javascript">
    yam.connect.embedFeed({
        config: {
            use_sso: false,
            header: true,
            footer: true,
            showOpenGraphPreview: false,
            defaultToCanonical: false,
            hideNetworkName: false
        },
        container: '#homepage-embedded-yammer'
    });
</script>